extends layout/layout


block content
    include common/header
    div.uk-section.uk-section-default
        div.uk-container
            h3.uk-text-center="Categories Section"
            div(uk-grid).uk-grid-match.uk-child-width-1-3.uk-text-center
                div
                    p="Adding new Category"
                div
                    p="Update an Category"
                div
                    p="Delete an Category"
            hr
            h3.uk-text-center="Item Section"
            div(uk-grid).uk-grid-match.uk-child-width-1-3.uk-text-center
                div
                    p="Adding new Item"
                div
                    p="Update Items"
                div
                    p="Delete an Item"
            hr
            h3.uk-text-center="Orders Section"
            div(uk-grid).uk-grid-match.uk-child-width-1-3.uk-text-center
                div
                    p=""
                div
                    p="View all Orders"
                div
                    p=""
            hr
            h3.uk-text-center="Dashboard Section"
            div(uk-grid).uk-grid-match.uk-child-width-1-3.uk-text-center
                div
                    p="View all Categories"
                div
                    p="View all Items"
                div
                    p="Views all Orders"
            hr
            