extends layout/layout

block content
    include common/header
    
    button.uk-button#reload="Refresh"
    div(style="overflow : scroll;height:200px;overflow-x: hidden;" ).uk-container.uk-padding-remove-bottom
        table.uk-table.uk-table-hover.uk-table-divider  
            thead
                tr
                    th="Item ID"
                    th="Name"
            tbody
            case st 
                when false
                    p=err
                when true
                    each item in data
                        tr
                        each value in item
                            td=value
    div.uk-container.uk-padding-large
        p="For Add/Delete/Update an item click on item ID"
        form(method="post").uk-form-horizontal
            div.uk-margin
                label.uk-form-label="ID"
                div.uk-form-controls
                    input(id="input-id" name="id" type="text" autocomplete="off").uk-input
            div.uk-margin
                label.uk-form-label="Name"
                div.uk-form-controls
                    input(id="input-name" name="name" type="text" autocomplete="off").uk-input
            div.uk-margin
                label.uk-form-label="Price"
                div.uk-form-controls
                    input(id="input-price" name="price" type="text" autocomplete="off").uk-input
            div.uk-margin
                label.uk-form-label="Discount"
                div.uk-form-controls
                    input(id="input-discount" name="discount" type="text" autocomplete="off").uk-input
            div.uk-margin
                label.uk-form-label="Release Date"
                div.uk-form-controls
                    input(id="input-release_date" name="release_date" type="text" autocomplete="off").uk-input
            div.uk-margin
                label.uk-form-label="Activation"
                div.uk-form-controls
                    input(id="input-activation" name="activation" type="text" autocomplete="off").uk-input
            div.uk-margin
                label.uk-form-label="Publisher"
                div.uk-form-controls
                    input(id="input-publisher" name="publisher" type="text" autocomplete="off").uk-input
            div.uk-margin
                label.uk-form-label="Language"
                div.uk-form-controls
                    input(id="input-language" name="language" type="text" autocomplete="off").uk-input
            div.uk-margin
                label(for="form-horizontal-select").uk-form-label="Genre"
                div.uk-form-controls
                    select(name="genre").uk-select#form-horizontal-select
                        each category in categoryData
                            option=category
            div.uk-margin
                label.uk-form-label="Age Rating"
                div.uk-form-controls
                    input(id="input-age_rating" name="age_rating" type="text" autocomplete="off").uk-input
            div.uk-margin
                label.uk-form-label="OS"
                div.uk-form-controls
                    input(id="input-os" name="os" type="text" autocomplete="off").uk-input
            div.uk-margin
                label.uk-form-label="Image URL"
                div.uk-form-controls
                    input(id="input-image_url" name="image_url" type="text" autocomplete="off").uk-input
            div.uk-margin
                label.uk-form-label="Description"
                div.uk-form-controls
                    textarea(class="uk-textarea" id="input-description" name="description" rows="5" placeholder="Description")
            div.uk-margin
                label.uk-form-label="Minimal Specification"
                div.uk-form-controls
                    textarea(class="uk-textarea" id="input-minimal_specification" name="minimal_specification" rows="5" placeholder="Minimal Specification")
                    div.uk-inline
                    button(type="button").uk-button.uk-button-default="help"
                    div(uk-drop="pos:right-center")
                        div.uk-card.uk-card-body.uk-card-default="Enter item specs. using ; (coma-dot)"            
            div.uk-margin
                label.uk-form-label="Maximal Specification"
                div.uk-form-controls
                    textarea(class="uk-textarea" id="input-maximal_specification" name="maximal_specification" rows="5" placeholder="Maximal Specification")
                    div.uk-inline
                    button(type="button").uk-button.uk-button-default="help"
                    div(uk-drop="pos:right-center")
                        div.uk-card.uk-card-body.uk-card-default="Enter item specs. using ; (coma-dot)"
            div.uk-margin
                label
                    input(id="radio-Add", name="radio", type="radio", value="add-radio").uk-radio
                | Add
                label.uk-margin-left  
                    input(id="radio-Update", name="radio", type="radio", value="update-radio").uk-radio
                | Update
                label.uk-margin-left
                    input(id="radio-Delete", name="radio", type="radio", value="delete-radio").uk-radio
                | Delete
            div.uk-margin
                input(type="submit", value="Submit").uk-input
    script.
        $("table tbody").find("td").click(function(){
            var id = $(this).text();
            if(id.length == 24 && id[0]==5){
                $.ajax({url: `http://localhost:5000/item/${id}`,success : function(res){
                    jQ_append("input-id",id);
                    jQ_append("input-name",res.name);
                    jQ_append("input-price",res.price);
                    jQ_append("input-discount",res.discount);
                    jQ_append("input-release_date",res.release_date);
                    jQ_append("input-activation",res.activation);
                    jQ_append("input-publisher",res.publisher);
                    jQ_append("input-language",res.language);
                    $.ajax({url:`http://localhost:5000/categories/${res.genre}`,success : function(cres){
                        $("select").val(cres.name);
                    }})
                    jQ_append("input-age_rating",res.age_rating);
                    jQ_append("input-os",res.OS);
                    jQ_append("input-image_url",res.image);
                    jQ_append("input-description",res.description);

                    let s_min_temp = `${res.specification.minimal.os}
                                    ${res.specification.minimal.processor}
                                    ${res.specification.minimal.RAM}
                                    ${res.specification.minimal.GPU}
                                    ${res.specification.minimal.disk_space}`

                    let s_max_temp = `${res.specification.maximal.os}
                                    ${res.specification.maximal.processor}
                                    ${res.specification.maximal.RAM}
                                    ${res.specification.maximal.GPU}
                                    ${res.specification.maximal.disk_space}`

                    jQ_append("input-minimal_specification",s_min_temp);
                    jQ_append("input-maximal_specification",s_max_temp);          
                }})
            }
        })
        function jQ_append(id_of_input, text){
            var input_id = id_of_input.split(' ');
            $(`#${input_id[0]}`).val(text);
        }
        $("#reload").click(function(){
            window.location.reload();
        })
        